<!DOCTYPE html>
<html lang="pt-br">

<%- include('../partials/head'); %>

    <body class="container">
        <%- include('../partials/header', {page:"Home"}) %>
            <main>
                <div>
                    <h1>Node com EJS</h1>
                    <p>Vamos aprender EJS</p>
                </div>
                <ul>
                    <% items.forEach(item=>{%>
                        <li>
                            <strong>
                                <%=item.title%>
                            </strong>
                            <%=item.message%>
                        </li>
                        <% }) %>
                </ul>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>